SUPABASE_URL=https://dhmvqystocyhxpnioawp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRobXZxeXN0b2N5aHhwbmlvYXdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3MzI2NTQsImV4cCI6MjA3NDMwODY1NH0.0s1hW3pqwfCQKIk3cMK2sFu3uTHh4gttupL9RcmWLOU
EXPO_APP_NAME=ET Marketplace
EXPO_APP_SLUG=etweb-fin-expo
EXPO_IOS_BUNDLE_IDENTIFIER=com.et.marketplace
EXPO_ANDROID_PACKAGE=com.et.marketplace
EAS_PROJECT_ID=
EAS_UPDATE_URL=

